include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include supportdesk *.css
recursive-include supportdesk *.csv
recursive-include supportdesk *.html
recursive-include supportdesk *.ico
recursive-include supportdesk *.js
recursive-include supportdesk *.json
recursive-include supportdesk *.md
recursive-include supportdesk *.png
recursive-include supportdesk *.py
recursive-include supportdesk *.svg
recursive-include supportdesk *.txt
recursive-exclude supportdesk *.pyc